{
  "bracketSpacing": true,
  "requirePragma": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "singleQuote": true,
  "printWidth": 80,
  "quoteProps": "as-needed",
  "proseWrap": "always",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true
}